*{
    font-family: 'Lato';
    color: #665544;
    text-align: center;

}

html {
    box-sizing: border-box;

}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    width: 99%;
    /*margin: 0 auto;*/
    background-image: url('light_grey.png');}

#container {

    overflow: auto;
    /*border: 1px solid black;*/
}

.under_overlay{
    position: fixed;
    top: 1%;
    left: 1%;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('light_grey.png');
    content: ' ';
    opacity: 0.8;
    z-index: 9;
}

/*.under_overlay {*/
    /*background-color: white;*/
/*}*/

/*.under_overlay.down {*/
    /*transform: translateY(100%) translateY(-7rem);*/
/*}*/
/*.under_overlay.down::before {*/
    /*transform: translateY(-100%) translateY(7rem);*/
/*}*/
/*.under_overlay.up, .glass.up::before {*/
    /*transform: translateY(0);*/
/*}*/

.overlay {
    position: fixed;
    top: 25%;
    left: 33%;
    height: 30%;
    width: 33%;
    z-index: 10;
    border: 1px solid black;

    /* basics */
    float: right;
    background-color: burlywood;
    color: black;
    text-align: center;

    /* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}

#loading {
    /*position:absolute;*/
    width:97%;
    top:50px;
    left:50%;
    /*margin-left:-150px;*/
    text-align:center;
    padding: 10px;
    font:bold 11px Arial, Helvetica, sans-serif;
    /*background: #222222;*/
    /*color: #ffffff;*/
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:13px 30px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}

#data_layout {

    /*overflow: auto;*/

  transition:500ms linear;

}

#header{
    position: relative;
    top: 0px;
    left: 0px;
    /*margin: 1%;*/
    /*border: 1px solid black;*/
    height: 3em;

    /*background-color: #efefef;*/
    z-index:10;
}


#dashboard{
    position: relative;
    /*margin: 1%;*/
    float: left;
    width: 97%;
    /*background-color: #efefef;*/
    height: 2em;
    /*overflow: scroll;*/
    /*border-bottom: 1px solid #efefef;*/
    padding-bottom: 10px;
    /*border: 1px solid black;*/
    /*width: 97%*/
    font-size: 23px
}

/*input[type=radio] {*/
    /*border: 2px;*/
    /*width: 18px;*/
    /*height: 18px;*/
    /*background-color: white;*/

    /*outline:1px solid #F00; *//* Firefox, Opera, Chrome, IE8+ */
/*}*/



#country_list{
    position: relative;
    /*margin: 1%;*/
    float: left;
    width: 10%;
    /*background-color: #efefef;*/
    height: 27em;
    overflow: scroll;
    /*margin:.5em 0 .5em 0*/
}

#sankey_dash{
    position: relative;
    /*margin: 1%;*/
    float: left;
    width: 99%;
    /*background-color: #efefef;*/
    height: 8em;
    overflow: scroll;
    margin:.5em 0 .5em 0;
    background-image: url('light_grey.png');

}

#sankey {
    width: 100%;
    float: left;
    margin: 1%;
    background-color: white;
    height: 50em;
    transition:500ms linear;
    background-image: url('light_grey.png');

}

#description{
    position: relative;
    /*margin: 1%;*/
    float: left;
    width: 64%;
    /*background-color: #efefef;*/
    height: 15em;
    overflow: scroll;
    margin:.5em 0 .5em 0;
    /*border: 1px solid black;*/
    z-index: 7;
}


label {
    font-family: 'Lato';
    display: block;
    font-size: 1em;
    color: white
}

#counter {
    /* basics */
    float: right;
    background-color: #444;
    color: #C4BE92;
    text-align: center;

    /* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 32%;
    height: 5.2em;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
    z-index: 7;

}

#total {
    font-size: 2.5em;
    background-color: transparent;
    text-align: center;
    border-width: 0;
    width: 100%;
    margin: 0 0 .1em 0;
    color: #fff;
}

#world_map{
    float: left;
    margin: 1%;
    width: 60%;
    height:27em;
    /*border: 1px solid black;*/

}

#graph_1{
    width: 25%;
    float: left;
    margin: 1%;
    background-color: white;
    height: 40em;
    transition:500ms linear;
    /*border: 1px solid black;*/
    background-image: url('light_grey.png');


}

#description4{
    width: 25%;
    float: left;
    margin: 1%;
    background-color: white;
    height: 27em;
    transition:500ms linear;
    /*border: 1px solid black;*/
    background-image: url('light_grey.png');


}



 #stackbarVis{
     width: 72%;
     height: 30em;
     float: left;
     margin: 1%;
     background-color: white;
     /*border: 1px solid black;*/
     background-image: url('light_grey.png');

}

#description1{
    width: 22%;
    height: 30em;
    float: left;
    margin: 1%;
    background-color: white;
    /*border: 1px solid black;*/
    background-image: url('light_grey.png');

}

#scatterVis{
    width: 72%;
    height: 30em;
    float: left;
    margin: 1%;
    background-color: white;
    /*border: 1px solid black;*/
    background-image: url('light_grey.png');

}

#description2{
    width: 22%;
    height: 30em;
    float: left;
    margin: 1%;
    background-color: white;
    /*border: 1px solid black;*/
    background-image: url('light_grey.png');

}
#footers  {
    width: 99%;
    height: 2em;
    float: left;
    margin: 1%;
    background-color: #efefef;
    background-image: url('light_grey.png');

}



li {
    display: inline;
    padding: 1em;
}





div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}

div.tooltip_oecd  {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}
.hidden {
    display: none;
}

.country_hidden{
    fill: "white";
}

.highlight{
    fill: "black"
}

.country:hover {
    fill: orangered ;
}

.arcs path {
    stroke-width: 2px;
    stroke: tomato;
    pointer-events: none;
    fill: none;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}


li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.y_axis text {
    color: white;
}

.axis text {
    font-family: "Lato";
    font-size: 13px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.rect{
    shape-rendering: crispEdges
}


.legend {
    padding: 5px;
    font: 4px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}
.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
.link:hover {
    stroke-opacity: .5;
}



