*{
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
}

body{
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

#container {

    overflow: auto;

}

#header{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 1%;

    /*background-color: #efefef;*/
    z-index:10;
}

#dashboard{
    /*position: fixed;*/
    margin: 1%;
    float: left;
    width: 97%;
    /*background-color: #efefef;*/
    height: 2em;
    /*overflow: scroll;*/
    /*border-bottom: 1px solid #efefef;*/
    padding-bottom: 10px;
    /*width: 97%*/
    font-size: 20px
}

/*input[type=radio] {*/
    /*border: 2px;*/
    /*width: 18px;*/
    /*height: 18px;*/
    /*background-color: white;*/

    /*outline:1px solid #F00; *//* Firefox, Opera, Chrome, IE8+ */
/*}*/



#country_list{
    position: relative;
    /*margin: 1%;*/
    float: left;
    width: 15%;
    /*background-color: #efefef;*/
    height: 30em;
    overflow: scroll;
    margin:.5em 0 .5em 0
}

#world_map{
    float: left;
    margin: 1%;
    width: 81%;
    height:30em;

}

#graph_1{
    width: 31.3%;
    float: left;
    margin: 1%;
    background-color: white;
    height: 60em;

}



 #stackbarVis{
     width: 64%;
     height: 20em;
     float: left;
     margin: 1%;
     background-color: #efefef;

}

#scatterVis{
    width: 64%;
    height: 20em;
    float: left;
    margin: 1%;
    background-color: white;

}


#footers  {
    width: 99%;
    height: 2em;
    float: left;
    margin: 1%;
    background-color: #efefef;

}



li {
    display: inline;
    padding: 1em;
}





div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}

div.tooltip_oecd  {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}
.hidden {
    display: none;
}

.country_hidden{
    fill: "white";
}

.highlight{
    fill: "black"
}

.country:hover {
    fill: orangered ;
}

.arcs path {
    stroke-width: 2px;
    stroke: tomato;
    pointer-events: none;
    fill: none;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.y_axis text{
    color: white;
}
.rect{
    shape-rendering: crispEdges
}